.related_articles .col-txt .catalog-sections-more,
.catalog-sections-text + .catalog-sections-more,
a.readmore-js-toggle.catalog-sections-more {
  display: inline-block;
  margin-top: 20px;
  width: 160px;
  height: 40px;
  border: 1px solid #0464bb;
  border-radius: 5px;
  font: 400 14px/38px 'Fira Sans', sans-serif;
  text-decoration: none;
  text-align: center;
  color: #0464bb;
  box-sizing: border-box;
}

.related_articles .col-txt .catalog-sections-more:hover,
.catalog-sections-text + .catalog-sections-more:hover,
a.readmore-js-toggle.catalog-sections-more:hover {
  background: #0464bb;
  color: #fff;
}

.related_articles .col-txt .readmore-js-section {
  position: relative;
}

.related_articles .col-txt .readmore-js-collapsed:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 85%);
  pointer-events: none;
}
